* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: #FFFFFF;
}

#main {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --border-radius-tl: 0;
    --border-radius-tr: 0;
    --border-radius-br: 0;
    --border-radius-bl: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
}

#main > .inner {
    --padding-horizontal: 10rem;
    --padding-vertical: 7rem;
    border-radius: 0;
    width: 76rem;
    padding: var(--pading-vertical) var(--pading-horizontal);
}